{
  "root": true,
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:security/recommended", "prettier"],
  "plugins": ["import"],
  "rules": {
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true,
        },
      },
    ],
    "security/detect-object-injection": "off",
    "security/detect-unsafe-regex": "off",
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "@typescript-eslint/no-explicit-any": "off",
  },
  "ignorePatterns": ["dist/", "tmp/"],
}
